/* Document colors
Blue: rgba(12,192,223,255)
Grey: rgba(89,88,89,255) */

*{font-family: "Poppins", sans-serif;}

.container 
    {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    margin: 15px;
    height: 95vh;
    grid-template-areas:
      "name name name name name name name skills skills skills skills skills projects projects projects projects projects"
      "name name name name name name name photo photo photo photo photo photo photo photo photo photo"
      "name name name name name name name photo photo photo photo photo photo photo photo photo photo"
      "name name name name name name name photo photo photo photo photo photo photo photo photo photo"
      "name name name name name name name photo photo photo photo photo photo photo photo photo photo"
      "name name name name name name name photo photo photo photo photo photo photo photo photo photo"
      "linkedin form form form form form form photo photo photo photo photo photo photo photo photo photo"
      "mail form form form form form form photo photo photo photo photo photo photo photo photo photo"
      "git form form form form form form photo photo photo photo photo photo photo photo photo photo";
    }

/* div
    {border: red solid 1px;
    } */
.container div
    {border-radius: 15px;
    }

.name
    {grid-area: name; 
    background-color: rgba(12,192,223,255);
    text-align: left;
    color: white;
    }

.name p
    {display: inline-block;
    margin-top: 1;
    padding: 5px;
    }

.intern
    {text-align: right;
    margin-left: 40%;
    }

.name h1
    {color: white;
    font-size: 6rem;
    margin: 0;
    padding: 5px;
    }

.skills
    {grid-area: skills;
    background-color: rgba(89,88,89,255);
    font-size: 4em;
    text-align: center;
    }

.skills a:link,
.skills a:visited,
.skills a:hover,
.skills a:active
    {
    color: rgba(12, 192, 223);
    }   

a:link
    {color: white;
    text-decoration: none;
    }

a:visited
    {color: white;
    text-decoration: none;
    }

a:hover
    {color: none;
    text-decoration: none;
    }

a:active
    {color: white;
    text-decoration: none;
    }

.photo
    {grid-area: photo;
    }

.photo img 
    {object-fit: cover;
    width: 100%;
    max-height: 100%;
    object-position: 0% 0%;
    border-radius: 15px;
    }

.form
    {grid-area: form; 
    background-color: rgba(89,88,89,255);
    }

.linkedin
    {grid-area: linkedin;
    background-color: rgba(12,192,223,255);
    display: flex;
    justify-content: center;
    align-items: center;
    }

.linkedin img
    {max-height: 80%;
    max-width: 80%;
    }
  
.mail
    { grid-area: mail; 
    background-color: rgba(12,192,223,255);
    display: flex;
    justify-content: center;
    align-items: center;
    }

.mail img
    {max-height: 80%;
    max-width: 80%;
    }
  
.git
    {grid-area: git; 
    background-color: rgba(12,192,223,255);
    display: flex;
    justify-content: center;
    align-items: center;
    }

.git img
    {max-height: 80%;
    max-width: 80%;
    }
 
.projects
    {grid-area: projects; 
    background-color: rgba(12,192,223,255);
    font-size: 4em;
    text-align: center;
    }

.form {
    display: inline-block;
}
.form label {
    margin-bottom: 5px;
}
.form input[type="text"],
.form input[type="email"] {
    background-color: transparent;
    border: 2px white solid;
    border-radius: 15px;
    width: 48%;
    margin-bottom: 10px;
}
.form textarea {
    background-color: transparent;
    border: 2px white solid;
    border-radius: 15px;
    overflow: hidden;
    resize: none;
    width: 80%;
    margin-bottom: 10px;
}
.form .sub {
    border-radius: 15px;
    background-color: rgba(12, 192, 223, 255);
    border: none;
    color: white;
    font-size: larger;
}


/* SKILLS SPECIFIC */

.skillIcons
    {grid-area: photo;
    background-color: rgba(89,88,89,255);
    display: felx;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    }


.skillsSelfie
    {grid-area: form;
    }

.skillsSelfie img 
    {object-fit: cover;
    width: 100%;
    max-height: 100%;
    object-position: 0% 30%;
    border-radius: 15px;
    }

.icon
    {
    width: 20%;
    margin: 5px;
    text-align: center;
    }

.icon img
    {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    }

.skillsMain p
    {
    margin: 0;
    color: white;
    }

.skillsHome
    {
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: rgba(89,88,89,255);
    font-size: larger;
    justify-content: center;
    }

.skillsFrame
    {
    border: none;
    width: 100%;
    height: 100%;
    max-width: 100%;
    }

.iconMain
    {
    flex-shrink: 0;
    margin-right: 20px;
    }

.skillsMain
    {
    display: flex;
    align-items: flex-start;
    color: white;
    background-color: rgba(89,88,89,255);
    }

.textMain
    {
    overflow: hidden;
    color: white;
    padding-left: 20px;
    }

/* PROJECT SPECIFIC */

.largeIcon
    {
    max-width: 40%;
    display: block;
    }

.projectHome
    {
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: rgba(89,88,89,255);
    font-size: larger;
    justify-content: center;
    }

.largeIcon
    {
    width: 45%;
    margin: 5px;
    text-align: center;
    }

.largeIcon img
    {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    }



/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto; /* Reset grid-template-rows */
    }

    .skills { grid-area: skills; }
    .projects { grid-area: projects; }
    .name { grid-area: name; }
    .photo { grid-area: photo; }
    .linkedin { grid-area: linkedin; }
    .mail { grid-area: mail; }
    .git { grid-area: git; }
    .form { grid-area: form; }
}