.container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* .lefthalf {
  width: 50%;
  overflow: hidden;
} 

.righthalf {
  width: 50%;
  overflow: hidden;
} */

.lefthalf img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.righthalf img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .yarn {width: 50%;}
.coder {width: 50%} */

.lefthalf a {display: none;}
.righthalf a {display: none;}

.righthalf:hover a {display: flex;}
.righthalf:hover .coder {display: none;}

.lefthalf:hover a {display: flex;}
.lefthalf:hover .yarn{display: none;}


/* .lefthalf:hover {content: url(tufting/images/homepage.png); width: 100%;} */

/* .righthalf:hover {content: url(student/images/homepage.png); width: 100%;} */

.overlaytext {
  position: absolute;
  top: 10%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: rgba(125,5,166,255);
  color: white;
  padding: 10px 20px; 
  font-size: 50px; 
  text-align: center; 
}